# PYTHON BASICS

In [ ]:
#This is a comment. It will not be executed.
print("Hello Khushi! Welcome to Day 1 of Python Journey.")

In [2]:
print(3+3)

6

In [1]:
print("I have no Indentation.")
    print("I have tab Indentation") #Here, we faced Indentation Error because python expects it to be in the same block.

IndentationError: unexpected indent (544819696.py, line 2)

## Input And Output

In [43]:
# The Input() function used to take user input and returns in the form of a string.
name = input("Enter your name: ")
print("Hello,",name,"Welcome!")

Enter your name:  Khushi

Hello, Khushi Welcome!

In [25]:
num1 = int(input("Enter a first number: "))
num2 = int(input("Enter a second number: "))
sum = num1 + num2
print(sum)
print(type(sum))

Enter a first number:  4
Enter a second number:  2

6
<class 'int'>

## Variables

##### In Python, variables are containers for storing data.They can stores different datatypes like strings, integer, dictionaries, sets etc.Variables can also be used to  manipulate with the working of the program.

##### Variables Names: In Variable names, we need to follow some rules:
###### 1. Variable names only contains letters(a-z and A-Z), digit(0-9), and underscore(_).
###### 2. They cannot start with a digit.
###### 3. They are case-sensitive(myVar and MyVar are treated in different way).
###### 4. Python have reserved keywords(eg.,if,for,while,print)which we should avoid using as variable names.

In [13]:
age = 19
student_id = 3456

In [1]:
1age = 10 #Starts with a digit
class = 12 # 'class' is a reserved keyword
user-name = "khushi" #contain a hypen

SyntaxError: invalid decimal literal (3478004801.py, line 1)

##### A Variable in python assigned value to using the assignment operator'='.

In [15]:
x = 10
x = "Hi"
y = 3.45

## Multiple Assignments

In [16]:
a = b = c = 500
print(a,b,c)

500 500 500

## Types of Variables

In [18]:
n = 7
f = 3.14
s = "Hello"
li = [1,2,3]
bool = False
d = {'key':'value'}

print(type(n))
print(type(f))
print(type(s))
print(type(li))
print(type(bool))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'bool'>
<class 'dict'>

## Comments in Python

##### Comments are used to explain notes within the code. Comments are ignored by the python interpreter during execution but useful to understand better code for the human.There we have two comments.
##### 1. Single-line Comments: It starts with the hash symbol(#)

In [4]:
#This is a single-line comment
a = 4 #Assigning a value to 'x'

##### 2. Multi-line Comments: It starts with triple-quotes('''or""").

In [3]:
'''This is the first line of a multi-line comment.
This is the second line.'''
print("Multi-line comment.")

Multi-line comment.

## Type Conversion

##### Type conversion is also called typecasting, is this process of changing the data type of a value from one type to another.The int() function converts a value to an integer data type,while the float() function converts a value to a floating-point data type. This is useful when you want to convert values between different data types such as integers, floating-point or strings.

In [42]:
s = "24"
n = int(s)
print(n)

f = float(s)
print(f)

24
24.0

In [47]:
a = 45
b = "45"
sum = a + b
print(sum)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### Here, It throws an error because we didn't add another datatype in the string datatype.

In [6]:
#This is the correct code from the above.
a = 45
b = "45"
sum =(int(a) + int(b))
print(sum)

90

## Literals

##### Literals in python represents fixed value directly in the source code. It provides way to store raw data values that do not change during the execution of a program. Pythons supports various types of literals.

In [52]:
a = 100 #Decimal Literal
b = 0b101#Binary Literal

#Complex Literal
c = 4 + 7j 
d = -9j

#Float literal
e = 8.5
f = 12.5

print(a,b,c,d,e,f)

100 5 (4+7j) (-0-9j) 8.5 12.5

In [53]:
# String literals
a = 'Python' #single-quoted
b = "Literals" # Double quoted
c = '''This is a multi-line string''' # Triple-quoted
raw_str = r"raw \n string"

print(a)
print(b)
print(c)
print(raw_str)

Python
Literals
This is a multi-line string
raw \n string