# LIST OPERATIONS

There are mainly three common ways can work with lists:
- Arithmetic operations(+,*)
- Membership operations(in,not in)
- Looping through lists(for,while)

### Arithmetic operations

In [3]:
L1 = [ 5,6,7]
L2 = [8,9,10]

#Concatenation(+)
sum = L1 + L2
print(sum)

[5, 6, 7, 8, 9, 10]

In [4]:
L1 = [1,2,3]
L2 = [4,5,6]

# Repetition(*)
print(L1*3)
print(L2*4)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

### Membership operations

In [7]:
L = [1,2,3,4,5]
S = "Hello world"

#in operator
print(3 in L)

#not in operator
print('H' not in S)
print('x' not in S)

True
False
True

### Looping through lists

In [8]:
L = [1,2,3,4,5]
S = "Hello world"

for i in S:
    print(i)

H
e
l
l
o

w
o
r
l
d

## Built-in Functions with Lists

- len(list): Gives the total length of the list.
- max(list): Returns item from the list with max value.
- min(list): Returns item from the list with min value.
- list(seq): Converts a tuple into list.
- sorted(list): Returns a new sorted list.

In [12]:
#Example:
L = [6,7,102,3,4,5,100]

print(len(L))
print(max(L))
print(min(L))
print(sorted(L))
print(list(L))

7
102
3
[3, 4, 5, 6, 7, 100, 102]
[6, 7, 102, 3, 4, 5, 100]

#### Methods:

In [18]:
#count
L = [24,3,5,43,28,53]

L.count(24)

1

In [17]:
#reverse
L = [24,3,5,43,28,53]

L.reverse()
print(L)

[53, 28, 43, 5, 3, 24]

## List Comprehension

List comprehension in python offers a concise and efficient way to create new lists based on existing iterables such as lists,tuples, strings, or ranges.

##### Basic Syntax:

#### new_list = [expression for item in iterable if condition]

In [20]:
sqaures = [i**2 for i in range(1,6)]
print(sqaures)

[1, 4, 9, 16, 25]

In [21]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
# prints all numbers divisible by 4 in the range of 1 to 40
[i for i in range(1,41) if i%4 == 0]

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]