# Data Types

##### Data types in the python is crucial concept.They have several built-in data types,which determines what type can performed on that data.
##### Following are the data types which built-in by default:-
##### 1. Numeric Types: Integer(int), float, complex
##### 2. Sequence Types: list, tuple, strings
##### 3. Mapping Types: Dictionary(dict)
##### 4. Set Types: set,frozenset
##### 5. Boolean: bool
##### 6. Binary Types: bytes, bytearray, memoryview
##### 7. None Type: NoneType

In [2]:
x = 34 #int
x = 34.5 #float
x = "Python" #string
x = ["Data", "Types", "Python"]#list
x = ("Data", "Types", "Python")#tuple

### 1. Numeric Types

##### In Numeric Data Type, it represent data in numeric value. It inlcludes Integers, floating point and complex. They are defined as int,float,and complex classes.
##### 1.Integer :- Integer contains whole numbers even its positive or negative but without fractions or decimals.
##### 2.Float:- Float contains both negative or positive numbers but in decimals.
##### 3.Complex numbers:- Complex number represented by a complex class.It includes with real and imaginary values.¶

In [21]:
x = 9
y = 3.4
z = 2 + 4j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### 2.Sequence Types

##### Sequence data types are used to store data in containers in python and it can be similar or different data types. They have different data type like strings,list and tuple.
##### 1. String:- It stored using string values using string data types. Strings can be created using single quotes, double quotes, and even triple quotes.
##### 2. List:- In list we can add any data type's values or component in it as it is the only mutable data type in the sequential category.List have lot of built-in functions like append, remove,insert,extend,reverse,etc.2. List:- In list we can add any data type's values or component in it as it is the only mutable data type in the sequential category.List have lot of built-in functions like append, remove,insert,extend,reverse,etc.
##### 3. Tuple:- TUple is similar as list data type.As it is also belongs to the sequence data type category Tuples can have any number of elements and any data type like stringd, integers ,list,etc.¶

In [5]:
a = 'Python is the programming language'
print(a)
print(type(a))

b = ["Jupyter","Notebook","Python"]
print(b)
print(type(b))

c = ("Jupyter","Notebook","Python")
print(c)
print(type(c))

Python is the programming language
<class 'str'>
['Jupyter', 'Notebook', 'Python']
<class 'list'>
('Jupyter', 'Notebook', 'Python')
<class 'tuple'>

### 3.Mapping Types

##### The mapping types, also called dict, are crucial data structures that allows store and manage key-values pairs.It is mutable,means it can delete or add values,or change existing values without creating a new object in memory.

In [9]:
my_dict ={'name': 'khushi',
          'age': 19,
          'city':'New delhi'
         }
#dictionary methods:

print(my_dict.get('age',20)) #get() returns the value of the key if it exists otherwise return default value.
print(my_dict.keys())#keys() returns objects of all the keys.
print(my_dict.values())#values() returns a view object of all the values.
print(my_dict.items())#items() returns a view object of all the key-value pairs.

my_dict.update({'age':22,'city':'San Francisco'}) # updating the dictionary
print(my_dict)

19
dict_keys(['name', 'age', 'city'])
dict_values(['khushi', 19, 'New delhi'])
dict_items([('name', 'khushi'), ('age', 19), ('city', 'New delhi')])
{'name': 'khushi', 'age': 22, 'city': 'San Francisco'}

### 4. Set Types

##### Set provides classes for constructing unordered collecctions of data types that is mutable and unique. It has no duplicate elements even after existing of that element if we try to add back , it will not be added.It is mutable cause it can be add or remove elements from the set after been created.

In [19]:
a = {1,2,3,4,5}
b ={6,7,8,2,3}

def common_in_set(a,b):
    return a & b
def all_in_set(a,b):
    return a|b
print(common_in_set(a,b))
print(all_in_set(a,b))

{2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}

### 5.Boolean Type

##### Boolean type in python can hold one of two possible values i.e True or False.They are used to represent the truth values of the expressions.It represented by the keyword bool to indicates the variable is Boolean data type.

In [15]:
a = 20
b = 45
print(a<b)

True

In [16]:
a = 345
b=56

if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

### 6.Binary Type

##### In Binary types,we have built-in types for handling data i.e bytes,bytearray,and memoryview.

In [6]:
#bytes:
my_bytes = b"Hello Bytes"

#bytearray
my_bytearray = bytearray(b"Hello Bytearray")
my_bytearray[0] = 77 #changes 'H' to 'M'

#memoryview
my_memoryview = memoryview(my_bytearray)
my_memoryview[1] = 97 #changes 'e' to 'a'

print("Bytes:",my_bytes)
print("Modified Bytearray:",my_bytearray)
print("Modified Bytearray via Memoryview:",my_bytearray)

Bytes: b'Hello Bytes'
Modified Bytearray: bytearray(b'Mallo Bytearray')
Modified Bytearray via Memoryview: bytearray(b'Mallo Bytearray')

# Type Conversion

##### In the process of Type conversion data types can be changed of a value from one type to another.There are two types of type conversion:
##### 1.Implicit conversion:In implicit,data type change by itself.
##### 2.Explicit conversion:In explicit,data type change by using function like int(), float()or str().

#### Implicit conversion

In [8]:
x = 10
y = 8.5
z = x+y

print("x:", type(x))
print("y:", type(y))
print("z =",z)
print("z:", type(z))

x: <class 'int'>
y: <class 'float'>
z = 18.5
z: <class 'float'>

#### Explicit coversion

In [14]:
#converting a integer to a float
num = 4
num_float = float(num)
print(num_float)
print(type(num_float))

#converting a string to an integer
str_num ="123"
num_int = int(str_num)
print(num_int)
print(type(num_int))

4.0
<class 'float'>
123
<class 'int'>